
.signup {
    display: flex;
    height: 120vh;
    box-sizing: border-box;
    position: relative;
}

.left-body {
    color: #fff;
    background: linear-gradient(to right, #6ea3f1, #4c85db);
    width: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        background: #fff;
        border: 3px solid #0077fe;
    }
    
    img {
        width: 116px;
        height: 116px;
        object-fit: contain;
        border-radius: 50%;
        // z-index: -1;
    }
    
    h1 {
        font-size: 36px;
        width: 70%;
    }
    
    p {
        width: 70%;
        font-size: 18px;
        line-height: 1.6;
    }
}

.right {
    width: calc(50% - 40px);
    margin: 20px;
    flex-grow: 1;    
    .right-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title{
            font-size: 40px;
            margin: 0;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        &_content{
            padding-bottom: 20px;
            font-size: 20px;
            width: 75%;
            text-align: center;
            margin: 0;
        }
        &_warning{
            margin: 0;
            text-align: center;
            width: 70%;
            font-size: 20px;
            padding-bottom: 60px;
        }
        .form{
            width: 70%;
            .form_label{
                width: 100%;
                font-size: 18px;
            }
            .form_input{
                width: 100%;
                padding: 3px 10px;
                border-radius: 8px;
            }
        }

        button{
            margin-top: 30px;
            padding: 15px 80px;
            border-radius: 999px;
        }
    }

}
.cloud{
    width: 10%;
    height: 100%;
    position: absolute;
    right: 49%;
}
.birthday{
    width: 25%;
    bottom: 0;
    right: 43%;
    position: absolute;
}