
.signup {
    display: flex;
    height: 120vh;
    box-sizing: border-box;
    position: relative;
}

.left-body {
    color: #fff;
    background: linear-gradient(to right, #6ea3f1, #4c85db);
    width: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        background: #fff;
        border: 3px solid #0077fe;
    }
    
    img {
        width: 120px;
        height: 120px;
        object-fit: contain;
        border-radius: 50%;
    }
    
    h1 {
        font-size: 36px;
        width: 70%;
    }
    
    p {
        width: 70%;
        font-size: 18px;
        line-height: 1.6;
    }
}

.right {
    width: calc(50% - 40px);
    margin: 20px;
    flex-grow: 1;    
    .right-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .avatar {
        width: 200px;
        border-radius: 15px;
        border: 4px solid #6ea3f1;
        margin-bottom: 20px; 
        cursor: pointer;
        
        img {
            width: 100%;
            display: block;
        }
    }
    
    .infor {
        margin-bottom: 20px;
        cursor: pointer;
        .tt{
            margin-left: 20%;
            display: flex;
            gap: 20px;
            align-items: center;
        }
        width: 100%;
        p {
            text-align: start;
            font-size: 18px;
        }i{
            font-size: 20px;
        }
    }
}

.btn {
    margin-top: 20px;
    width: 70%;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    background: #398ae7;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    button{
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        padding: 17px 70px;
        margin-left: 20px;
        border: none;
        border-radius: 999px;
    }
    .btn-continue{
        background: #6ea3f1;
        color: #fff;
    }
}
.cloud{
    width: 10%;
    height: 100%;
    position: absolute;
    right: 49%;
}
.birthday{
    width: 25%;
    bottom: 0;
    right: 43%;
    position: absolute;
}